* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
/* body {
    height: 100vh;
} */
.header {
  background-color: #440909;
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebc7c627;
}
.header img {
  /* width: 50px; */
  border-radius: 50%;
}
.logo {
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.menu ul {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
}
.menu li a {
    display:inline-block;
    color: #EBC7C6;
    transition: all .1s;
}
.menu li a:hover {
    transform: scale(1.1);
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #440909;
}
.main-content {
  flex: 1;
}
.main-content h1 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  line-height: 80px;
  color: #9b0a09;
}
.product-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-card {
  background-color: #570909;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
/* .product-image {
  width: 200px;
} */
.prduct-title {
    color: #E00605;
}
.product-price {
  color: #EBC7C6;
}
.by-button {
  background-color: #803535;
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  color: #EBC7C6;
  font-size: large;
  cursor: pointer;
  transition: all .2s;
}
.by-button:hover {
    background-color: #a60d0c;
    box-shadow: 0 0 20px #a60d0c;
    transform: translateY(-3px);
}
.footer {
  height: 50px;
  background-color: #4d1313;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  color: #EBC7C6;
  font-weight: bold;
}
